includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5
    ignoreErrors:
        - '#Access to an undefined property.*App\\Http\\Resources\\V1\\.*::\$([a-zA-Z_]+)#'
    excludePaths:
        analyseAndScan:
             - app/Repositories/RepositoryInterface.php
    checkGenericClassInNonGenericObjectType: false
    noModelMake: false
    noUnnecessaryCollectionCall: false