includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5
    ignoreErrors:
        - '#Access to an undefined property.*UserResource::\$(uuid|email|created_at|updated_at)#'
    excludePaths:
        analyseAndScan:
             - app/Repositories/RepositoryInterface.php
    checkGenericClassInNonGenericObjectType: false
    noModelMake: false
    noUnnecessaryCollectionCall: false